.page {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: var(--space-6);
	overflow: auto;
	background-color: var(--gray-1);
}

.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: var(--space-6);
	gap: var(--space-4);

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: var(--space-4);
	background-color: white;
	border-radius: var(--radius-3);
	border: 1px solid var(--gray-a4);
	padding: var(--space-4);
	overflow: auto;
}

:global(.rt-Table) {
	width: 100%;
}

:global(.rt-TableHeader) {
	background-color: var(--gray-a2);
}

:global(.rt-TableRow:hover) {
	background-color: var(--gray-a1);
}
