.page {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: var(--space-6);
}

.content {
	flex: 1;
}

.pageHeader {
	margin-bottom: var(--space-6);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space-4);
	text-align: center;
}
