.container {
	background-color: white;
	border: 1px solid var(--gray-a6);
	border-radius: var(--radius-3);
	box-shadow: 0 1px 2px var(--gray-a2);
	padding-top: 1px;
}

.topBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--space-4);
	padding: var(--space-5) 0;
	margin-bottom: var(--space-3);
}

.searchArea {
	flex-shrink: 0;
	width: 280px;

	:global(.rt-TextFieldRoot) {
		width: 100%;
	}
}

.headerCell {
	display: flex;
	align-items: center;
	gap: var(--space-2);
	white-space: nowrap;
}
